<div class="container container--post-video">
  <div
    *ngIf="user$ | async as user"
    class="video"
    [class.loading]="isUploading"
  >
    <form method="post" enctype="multipart/form-data">
      <p class="video__icon">
        <mat-icon>upload</mat-icon>
      </p>
      <div class="video__text-wrap">
        <p class="video__text">アップロードするファイルを選んでください</p>
        <p class="video__text video__text--sub">
          ※ファイルタイプはmp4のみアップロードできます。
        </p>
        <p class="video__text video__text--sub">
          ※アップロードできるサイズは10MBまでです。
        </p>
        <p class="video__text video__text--sub">
          MP4に変換するには
          <a
            href="https://www.mp4compress.com/ja/mov-to-mp4-converter/"
            class="video__text video__text--sub video__text--link"
            target="_blank"
          >
            こちら
          </a>
          などをご利用ください。
        </p>
      </div>

      <input
        type="file"
        name="video"
        accept="video/mp4"
        required
        [formControl]="fileControl"
        #fileInput
        style="display: none"
      />
      <button
        type="button"
        (click)="fileInput.click()"
        mat-button
        class="video__select"
      >
        <mat-icon>add</mat-icon>ファイルを選択
      </button>

      <div class="preview">
        <ng-container *ngIf="preview">
          <div class="preview__heading"><p>プレビュー</p></div>
          <div class="video-js-responsive-container">
            <app-video-player
              [options]="{
                fuild: true,
                responsive: true,
                autoplay: false,
                controls: true,
                sources: [
                  {
                    src: preview,
                    type: 'video/mp4'
                  }
                ]
              }"
            ></app-video-player>
          </div>
        </ng-container>
      </div>

      <ng-container *ngIf="isloading">
        <p class="loading">読み込み中...</p>
      </ng-container>

      <ng-container *ngIf="thumbnails.length > 0">
        <div class="preview__heading">
          <p>サムネイル</p>
          <p class="video__text video__text--sub">
            動画の内容がわかる画像を選択しましょう。
          </p>
        </div>
        <div class="thumbnail-list">
          <img
            *ngFor="let thumbnail of thumbnails; index as i"
            class="thumbnail"
            [src]="thumbnail"
            (click)="selected = i"
            [class.active]="i === selected"
          />
        </div>
        <ng-container *ngIf="eventId$ | async as eventId">
          <button
            type="submit"
            mat-flat-button
            (click)="uploadVideo(eventId, user.uid)"
            [disabled]="
              fileControl.invalid ||
              fileControl.pristine ||
              fileSizeError ||
              fileTypeError
            "
            class="video__select"
          >
            投稿
          </button>
          <p *ngIf="fileTypeError" class="video__error">
            アップロードできるファイルのタイプはmp4のみです
          </p>
          <p *ngIf="fileSizeError" class="video__error">
            アップロードできるファイルのサイズは10MBまでです
          </p>
        </ng-container>
      </ng-container>
    </form>
  </div>
  <ng-container *ngIf="isUploading">
    <div class="uploading">
      <img class="uploading__svg" src="assets/images/loading.svg" alt="" />
      <p class="uploading__text">アップロード中</p>
    </div>
  </ng-container>
</div>
