<div class="image-card">
  <a class="image-card_navigate" (click)="navigateDetail(post)">
    <div class="image-card__main">
      <div class="image-card__img">
        <img [src]="post.imageURL || post.thumbnailURL" alt="" />
      </div>
      <ng-container *ngIf="post.videoURL">
        <button class="image-card__video-icon" mat-icon-button>
          <mat-icon>duo</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="user$ | async as user">
        <div *ngIf="user?.uid == post.uid" class="image-card__menu">
          <button
            *ngIf="post.imageId"
            mat-icon-button
            (click)="openDeleteImageDialog(post.imageId)"
            class="image-card__menu-item"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            *ngIf="post.videoId"
            mat-icon-button
            (click)="openDeleteVideoDialog(post.videoId, post.thumbnailId)"
            class="image-card__menu-item"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </a>

  <div class="image-card__body">
    <ng-container *ngIf="!isLiked">
      <button mat-icon-button (click)="likeImage(post.imageId)">
        <mat-icon class="image-card__like">favorite_border</mat-icon>
        <span class="image-card__like-count">{{ likedCount }}</span>
      </button>
    </ng-container>
    <ng-container *ngIf="isLiked">
      <button mat-icon-button (click)="UnLikeImage(post.imageId)">
        <mat-icon class="image-card__like">favorite</mat-icon>
        <span class="image-card__like-count">{{ likedCount }}</span>
      </button>
    </ng-container>

    <ng-container *ngIf="post.imageId">
      <a
        class="image-card__comment"
        [routerLink]="'/event/' + post.eventId + '/images/' + post.imageId"
      >
        {{
          comments?.length
            ? 'コメントを見る(' + comments?.length + ')'
            : 'コメントを投稿する'
        }}
      </a>
    </ng-container>
    <ng-container *ngIf="post.imageId === undefined">
      <a
        class="image-card__comment"
        [routerLink]="'/event/' + post.eventId + '/videos/' + post.videoId"
      >
        {{
          comments?.length
            ? 'コメントを見る(' + comments?.length + ')'
            : 'コメントを投稿する'
        }}
      </a>
    </ng-container>
  </div>
</div>
