@import 'variables';
@import 'mixins';

.image-list {
  padding-top: 40px;
  padding-bottom: 120px;
  @include pc {
    padding-bottom: 240px;
  }
  &__list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    @include pc {
      gap: 24px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__item {
    &:nth-of-type(even) {
      transform: translateY(50%);
      @include pc {
        transform: none;
      }
    }
    &:nth-of-type(3n + 2) {
      @include pc {
        transform: translateY(60%);
      }
    }
    &:nth-of-type(3n) {
      @include pc {
        transform: translateY(30%);
      }
    }
  }
  &__blank {
    display: flex;
    text-align: center;

    a {
      display: block;
      padding: 60px 0;
      width: calc(50% - 8px);
      border-radius: 8px;
      background-color: rgba($color-accent, 0.2);
      color: $color-accent;
      transition: opacity 0.4s;
      @include sp {
        width: calc(50% - 16px);
        padding: 40px 0;
      }
      &:hover {
        opacity: 0.6;
      }
      &:nth-of-type(even) {
        margin-left: 32px;
        @include sp {
          margin-left: 16px;
        }
      }
      mat-icon {
        font-size: 56px;
        width: 1em;
        height: 1em;
        color: $color-accent;
        @include sp {
          font-size: 40px;
        }
      }
      span {
        font-size: 16px;
        font-weight: 700;
        display: block;
        @include sp {
          font-size: 14px;
        }
      }
    }
  }
}
