<div class="image-list" *ngIf="event$ | async as event">
  <div class="container">
    <ng-container *ngIf="postList$ | async as posts; else blank">
      <div class="image-list__list" *ngIf="posts.length > 0; else blank">
        <app-image-card
          class="image-list__item"
          *ngFor="let post of posts"
          [post]="post"
          [event]="event"
        >
        </app-image-card>
      </div>
    </ng-container>
    <div class="image-list__blank" #blank>
      <a [routerLink]="'/event/' + eventId + '/post-images'">
        <mat-icon>insert_photo</mat-icon>
        <span>+ 画像を投稿する</span>
      </a>
      <a [routerLink]="'/event/' + eventId + '/post-video'">
        <mat-icon>videocam</mat-icon>
        <span>+ 動画を投稿する</span>
      </a>
    </div>
  </div>
</div>

<ng-container *ngIf="event$ | async as event">
  <app-bottom-actions
    [type]="{
      eventsStyle: true,
      addVideoStyle: true,
      addImageStyle: true,
      sharedUrlStyle: true
    }"
    [eventUrl]="eventUrl"
    [event]="event"
  ></app-bottom-actions>
</ng-container>
