<div class="authority-settings">
  <h2 class="authority-settings__title">イベントオーナー権限の設定</h2>
  <div class="authority-settings__boody">
    <ul class="authority-settings__list">
      <li class="authority-settings__item">
        <img src="" alt="" class="" />
      </li>
    </ul>
  </div>
  <div class="authority-settings__actions">
    <button class="authority-settings__delete-btn" (click)="deleteEvent()">
      イベント削除
    </button>
    <button class="authority-settings__cancel-btn" mat-dialog-close>
      キャンセル
    </button>
  </div>
</div>
