<div class="default">
  <div class="default__header">
    <p>イベントを作成して家族や友だちを招待しましょう。</p>
  </div>

  <p class="default__heading">
    <mat-icon class="default__icon">looks_one</mat-icon>イベントを作る
  </p>

  <section class="default__block">
    <div class="default__text-wrap">
      <p class="default__text">
        イベントの名前、簡単なイベントの説明、イベント参加のパスワードを入力します。
      </p>
      <p class="default__text">みんながわかる名前をつけましょう。</p>
      <a routerLink="/create-event" class="default__btn"> イベント作成 </a>
    </div>
    <img src="./assets/images/default-event-img-3.png" alt="" />
  </section>

  <p class="default__heading">
    <mat-icon class="default__icon">looks_two</mat-icon>画像や動画を投稿する
  </p>

  <section class="default__block">
    <div class="default__text-wrap">
      <p class="default__text">共有したい画像を選んで投稿しましょう。</p>
      <p class="default__text">アップロードできるファイルは、pngかjpgです。</p>
    </div>
    <img src="./assets/images/default-event-img-5.png" alt="" />

    <div class="default__text-wrap">
      <p class="default__text">共有したい動画を選んで投稿しましょう。</p>
      <p class="default__text">
        アップロードできるファイルはmp4で、10MBまでです。
      </p>
    </div>
    <img src="./assets/images/default-event-img-6.png" alt="" />
  </section>

  <p class="default__heading">
    <mat-icon class="default__icon">looks_3</mat-icon>イベントに招待する
  </p>

  <section class="default__block">
    <div class="default__text-wrap">
      <p class="default__text">
        URLを共有するボタンをクリックして、イベントに招待しましょう。
      </p>
      <p class="default__text">みんながわかる名前をつけましょう。</p>
    </div>
    <img src="./assets/images/default-event-img-4.png" alt="" />
  </section>
</div>
