@import '~@angular/material/theming';
@import 'variables';
@import 'mixins';

.tile {
  width: 240px;
  height: 240px;
  margin: 10px;
  border-radius: 10px;
  background-color: $color-accent;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px;
  color: white;
  font-family: $font-default;
  @include pc {
    width: 320px;
    height: 320px;
  }
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: $color-accent;
    border-radius: 10px;
    opacity: 0.38;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    @include pc {
      display: none;
    }
  }
  img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
  }
  &__text {
    position: absolute;
    padding: 16px;
    height: calc(100% - 60px);
    z-index: 2;
    @include pc {
      padding: 30px;
    }
  }
  h1 {
    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 10px rgba($color-accent, 0.6);
    @include pc {
      text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.38);
    }
  }
  h2 {
    font-weight: 100;
    margin: 20px 0 0 0;
  }
  p {
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 25px;
    transition-delay: 0.2s;
  }
  &__animate-text {
    @include pc {
      opacity: 0;
      transition: all 0.6s ease-in-out;
    }
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px;
  }
  &:hover img {
    @include pc {
      opacity: 0.2;
    }
  }
  &:hover .tile__animate-text {
    @include pc {
      opacity: 1;
    }
  }
  &__date {
    @include pc {
      opacity: 0;
      transition: transform 0.4s ease-out, opacity 0.5s ease;
    }
  }
  &:hover .tile__date {
    opacity: 1;
  }
}
