<div class="container">
  <h1 matDialogTitle>イベント退会</h1>

  <mat-dialog-content>
    <p class="heading">本当にイベントから退会しますか？</p>
    <section class="check">
      <mat-checkbox
        (change)="isDeleteAllImages = $event.checked"
        color="primary"
        class="check-box"
      >
        このイベントで投稿した写真とコメントを全て削除する
      </mat-checkbox>
    </section>

    <div class="transfar" *ngIf="authService.uid === data.ownerId">
      <p class="transfar__title">新しいオーナーを選んで下さい</p>
      <mat-form-field appearance="fill">
        <mat-select [(value)]="selected" [formControl]="transfarForm">
          <mat-option *ngFor="let user of joinedUsers | async" [value]="user">
            <div class="user">
              <div
                class="user__avatar"
                [style.background-image]="'url(' + user?.avatarURL + ')'"
              ></div>
              <div class="user__name">{{ user?.name }}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>キャンセル</button>
    <button (click)="exitEvent()" color="warn" mat-raised-button>退会</button>
  </mat-dialog-actions>
</div>
