<div class="container">
  <h1 matDialogTitle>イベント退会</h1>

  <mat-dialog-content>
    <p>本当に退会しますか？</p>
    <section class="example-section">
      <mat-checkbox
        (change)="deleteImageAll($event.checked)"
        color="primary"
        class="check-box"
      >
        投稿した写真を全て削除する
      </mat-checkbox>
    </section>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>キャンセル</button>
    <button color="warn" mat-raised-button>退会</button>
  </mat-dialog-actions>
</div>
