@import 'mixins';

h1 {
  text-align: center;
}

mat-dialog-content {
  overflow: initial;
  @include sp {
    padding: 0 16px;
  }
}

.heading {
  text-align: center;
  font-weight: 500;
  margin-bottom: 32px;
}

.check {
  margin-bottom: 32px;
}

.transfar {
  &__title {
    margin-bottom: 0;
  }
}

.user {
  display: flex;
  align-items: center;

  &__avatar {
    width: 32px;
    height: 32px;
    margin: 0;
    border-radius: 50%;
    background: center/cover rgba(0, 0, 0, 0.5);
  }
  &__name {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 300;
    color: #888888;
  }
}
