<div class="tile" ontouchstart>
  <div class="tile__head">
    <ng-container *ngIf="post.user?.avatarURL; else default">
      <img class="tile__avatar" [src]="post.user?.avatarURL" alt="" />
    </ng-container>
    <ng-template #default>
      <mat-icon class="tile__avatar">account_circle</mat-icon>
    </ng-template>
    <p class="tile__name">{{ post.user?.name }}</p>
  </div>
  <img [src]="post.imageURL || post.thumbnailURL" />
  <div class="tile__body">
    <div class="tile__date">
      {{ post.createdAt.toDate() | date: 'yyyy/MM/dd HH:mm' }}
    </div>
  </div>
</div>
