<div class="container">
  <mat-tab-group class="mat-tab" mat-align-tabs="center">
    <mat-tab label="新着投稿">
      <ng-container *ngIf="postList$ | async as posts; else default">
        <div
          class="mat-tab__card-layout mat-tab__card-layout--posts"
          [class.default]="!posts"
        >
          <app-recent-posts
            *ngFor="let post of posts"
            [post]="post"
            [routerLink]="'/event/' + post.eventId"
            (click)="streamParams(post.eventId)"
          ></app-recent-posts>
        </div>
      </ng-container>

      <ng-container
        *ngIf="videoService.isLoading || imageService.isLoading || isLoading"
      >
        <div class="loading">
          <img class="loading__svg" src="assets/images/loading.svg" alt="" />
        </div>
      </ng-container>

      <ng-template #default>
        <app-default-event
          *ngIf="
            !videoService.isLoading && !imageService.isLoading && !isLoading
          "
        ></app-default-event>
      </ng-template>
    </mat-tab>

    <mat-tab label="主催イベント">
      <ng-container *ngIf="myOwnedEvents$ | async as events; else default">
        <div class="mat-tab__card-layout">
          <app-event-list-card
            *ngFor="let event of events"
            [event]="event"
            [routerLink]="'/event/' + event.eventId"
            (click)="streamParams(event.eventId)"
          ></app-event-list-card>
        </div>
      </ng-container>
      <ng-template #default>
        <app-default-event></app-default-event>
      </ng-template>
    </mat-tab>

    <mat-tab label="参加イベント">
      <ng-container *ngIf="joinedEvents$ | async as events; else default">
        <div class="mat-tab__card-layout">
          <app-event-list-card
            *ngFor="let event of events | async as events"
            [event]="event"
            [routerLink]="'/event/' + event?.eventId"
            (click)="streamParams(event.eventId)"
          ></app-event-list-card>
        </div>
      </ng-container>
      <ng-template #default>
        <app-default-event></app-default-event>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<app-bottom-actions
  [type]="{
    eventsStyle: true,
    addVideoStyle: false,
    addImageStyle: false,
    sharedUrlStyle: false
  }"
></app-bottom-actions>
