@import 'variables';
@import 'mixins';
@import 'material-theme';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $font-default !important;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

button {
  outline: none;
  border: none;
  appearance: none;
}

.container {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  @include pc {
    padding: 56px 24px;
  }
  &--create-event {
    max-width: 960px;
  }
  &--post-video {
    text-align: center;
    padding: 0;
  }
}

.mat-tab-label {
  min-width: 50% !important;
  font-family: $font-default;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #fa776d;
}

.mat-tab-body.mat-tab-body-active {
  height: 100vh;
  h2,
  h3 {
    padding: 0;
    margin: 0;
  }
}

.image {
  border-radius: 8px;
  &:before {
    border-radius: 8px;
  }
  &:after {
    content: 'crop' !important;
  }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.mat-tab .mat-tab-label {
  min-width: 0px !important;
  width: 120px;
}

.join-event-dialog {
  .mat-dialog-container {
    padding: 0;
  }
}

.post-action {
  .image {
    background-image: none !important;
    &--blank {
      background-color: transparent !important;
    }
  }
}

.vjs-theme-fantasy {
  --vjs-theme-fantasy--primary: #fa776d;
  --vjs-theme-fantasy--secondary: #fff;
}

.video-js-responsive-container {
  max-width: 100%;
  margin: 0 auto 24px;
}

app-exit-event-dialog {
  .mat-checkbox-inner-container {
    margin: 4px 8px auto auto;
  }
  mat-checkbox {
    span {
      white-space: pre-wrap;
    }
  }
}

mat-icon {
  color: $color-font;
}

.spacer {
  flex: 1;
}

.like {
  color: hotpink;
}
